<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        .header {
            width: 90vw;
            margin: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header div {
            display: inline-flex; 
            align-items: center;
        }
        a {
            margin: 5px;
        }
        .content-container {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            gap: 25px;
        }
        .card {
            padding:50px;
            width: 40vw;
            height: 35vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
            background-color: lightblue;
            margin: auto;
        }
        .card div {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        .card img {
            margin: 0 auto;
            width: 200px;
            height: 160px;
            object-fit: contain;
        }
        .card h2 {
            color: grey;
            text-align: center;
        }
        .btn {
            margin: 0 20px;
            padding: 5px 0;
            width: 80px;
            text-align: center;
            text-decoration: none;
            border-radius: 4px;
            background-color: #fba608;
            color: #000000;
        }
        .btn-delete {
            color: white;
            background-color: rgb(243, 56, 56);
        }
        ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         background-color:lightblue;
       }

       li {
         float: left;
       }

       li a {
         display: block;
         color: black;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: large;
       }
    </style>
</head>
<body>
    <ul>
        <li><a href="./">Home</a></li>
    </ul>    
</br></br></br></br>
    <div class="card">
    <form action="/course/add" method="post">
        <h2>Name</h2>
        <input type="text" name="name">
        <h2>Descriptiont</h2>
        <textarea name="descriptiont" placeholder="input heree" rows="5" cols="40"></textarea>
        <h2>Doration</h2>
        <input type="number" name="duration">
        <h2>Category</h2>
        <select name="CategoryId">
            <% data.forEach(e => { %>
                <option value="<%=e.id  %>"><%= e.selectCorse %></option> 
            <% }) %>
            
        </select>

    </br></br>
        <input type="submit" value="submit">
    </form>
    
</div>
</body>
</html>