<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/user/login" method="post">
        <div>
            <input type="text" name="username" placeholder="Username">
        </div>
        <br>
        <div>
            <input type="text" name="password" placeholder="Password">
        </div>
        </br>
        <input type="submit" value="submit">
    </form>
    <a href="/user/add"><h4>sing up</h4></a>
</body>
</html>